{% extends "base_template.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="card text-center mb-4">
            <div class="card-header">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
            </div>
            <div class="card-body">
                <h4>{{ post.title }}</h4>
                <p class="card-text">{{ post.content }}</p>
                <button class="btn btn-primary btn-lg" type="button"><i class="fas fa-book-reader"></i> Read More </button>
            </div>
            <div class="card-footer text-muted">
                2 Days Ago
            </div>
        </div>
    {% endfor %}
{% endblock content %}

{% block main %}{% endblock main%}
